<form action="http://localhost:8080/api/login", method="post">
  <input type="text" name="email" placeholder="Ej: usuario@hotmail.com"/>
  <input name="password" type="password"/>
  <button value="submit">Iniciar sesión</button>
  <a href="http://localhost:8080/api/github">Login con Githbub</a>
</form>