<h1>Socket</h1>
{{#if products}}
    <div id="contenido" style="padding: 10px;" >
    </div>
{{else}}
    <p>No existen elementos cargados</p>
{{/if}}


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>