<form action="http://localhost:8080/api/register", method="post">
  <input name="username" placeholder="Ej: usuario33" type="text" required />
  <input name="email" type="email" placeholder="Ingrese un email" required/>
  <input name="password" value="password" type="password" required/>
  <button value="submit">Registrarse</button>
</form>